<%= form_for Product.new, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <div class="form-group">
    <%= options_for_select(@categories.map { |category| [category.title, category.id] }) %>
  </div>
  <div class="form-group">
    <%= f.text_field :title, class: 'form-control', placeholder: 'Naam' %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, class: 'form-control', placeholder: 'Beschrijving' %>
  </div>
  <div class="form-group">
    <%= f.text_field :unit_price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_area :color, class: 'form-control', placeholder: 'Kleur' %>
  </div>
  <%= f.submit "Opslaan", class: 'btn btn-success' %>
<% end %>
